.control-section-super-mart-store h3.accordion-section-title {
  font-size: 18px !important;
  color: #1d2327 !important;
  background: #f6f7f7 !important;
  border: 1px solid #dcdcde !important;
  border-left: solid 5px #2271b1 !important;
}
span.customize-action {
  display: block;
  color: #636363 !important;
  font-size: 12px !important;
  margin: 12px 0;
  font-weight: normal !important;
}
#customize-theme-controls .control-panel-themes>.accordion-section-title, 
#customize-theme-controls .control-panel-themes>.accordion-section-title:hover{
  margin: 0;
}
.customize-control-kirki-custom {
  background: #fff;
  box-shadow: 0 0 4px 0px #cbcbcb;
  border: solid 1px #d3d3d3;
  color: #000;
}
span.custom-label-class {
  padding: 14px 10px 0px 10px;
  display: flex;
}
.custom-description-class {
  padding: 0px 10px 0px 10px;
}
.customize-control-kirki-custom p {
  color: #000;
}
a.premium_info_btn {
  font-weight: bold;
  padding: 10px 10px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  background-image: linear-gradient(96deg, #f0ac0e 0%, #ff7426 100%);
  z-index: 2;
  margin: 0px 10px 18px 10px;
}
a.premium_info_btn:hover{
    background: linear-gradient(96deg, #9289f1 0%, #6254e7 100%);
}
a.premium_info_btn {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.accordion-section-title button.accordion-trigger{
  height: unset !important;
}
.control-section-kirki-default{
  min-height: 0 !important;
}
li#accordion-section-super_mart_store_upgrade_pro h3.accordion-section-title:after {
    display: none;
}
a.button.button-primary{
  margin: 4px;
}

/* customizer pro details */

.wp-full-overlay-sidebar{
  width: 18% !important;
}
#accordion-section-super_mart_store_upgrade_pro.control-section .accordion-section-title{
  padding: 10px !important;
}
li#accordion-section-super_mart_store_upgrade_pro {
    text-align: center;
}
.custom-action-buttonss {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    text-align: center;
}
a.button.button-primary.custom-pro,a.button.button-primary.custom-bundle:hover {
    background-image: linear-gradient(96deg, #F0AC0E 0%, #F56616 100%);
    border: none;
}

a.button.button-primary.custom-bundle,a.button.button-primary.custom-pro:hover {
    background-image: linear-gradient(96deg, #6254e7 0%, #9289f1 100%);
    border: none;
}
a.button.button-primary.custom-support,a.button.button-primary.custom-doc,a.button.button-primary.custom-demo:hover,a.button.button-primary.custom-review:hover{
  background: #7dc746;
  border: #7dc746;
}
a.button.button-primary.custom-demo,a.button.button-primary.custom-review,a.button.button-primary.custom-support:hover,a.button.button-primary.custom-doc:hover{
  background: #22a6d5;
  border: #22a6d5;
}